!!! 5
html
  head
    meta()
    link(rel='stylesheet', href='static/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='static/css/style.css')
  body
    .container
      .row-fluid
        .span4
          |4
        .span8
          |8
      .row-div
        .row-div-bar
      .row-fluid
        .span6
          |6
        .span6
          |6
      .row-div
        .row-div-bar
      .row-fluid
        .span6
          |6
        .span6
          |6
      .row-div
        .row-div-bar
      .row-fluid
        .span12.new-row
          .col-model.col-4-4-4
          .col-model.col-6-6
          .col-model.col-4-8
          .col-model.col-8-4
          .col-model.col-12



