<div class="span12 new-row">
  <div class="col-model colsize-4-4-4"></div>
  <div class="col-model colsize-6-6"></div>
  <div class="col-model colsize-8-4"></div>
  <div class="col-model colsize-4-8"></div>
  <div class="col-model colsize-12"></div>
</div>
