<div class="span12 new-row">
  <div class="col-model col-4-4-4"></div>
  <div class="col-model col-6-6"></div>
  <div class="col-model col-4-8"></div>
  <div class="col-model col-8-4"></div>
  <div class="col-model col-12"></div>
</div>
