@import '/Users/jtsnake/dev/vertebrae-preso/static/css/nib'


body
  color #fff
  padding 0
  border 0
  min-height 100%
  height 100%
  background-image -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)))
  background-image -moz-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0))
  background-image -o-linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0))
  background-image -ms-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0))
  background-image linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0))
  background-image url(../img/dark_wall.png)

.container
  margin 0 auto
  max-width 960px

.bubble
  opacity 0
  transition(all .3s ease-in)
  position absolute
  right -60px
  top -15px
  height 35px
  width 35px
  line-height 30px
  text-align center
  font-size 30px
  text-shadow 1px 1px 2px rgba(0,0,0,.5)
  color #fff
  border 4px solid #707070
  border-radius 35px
  background: #999999
  z-index 2
  cursor: pointer

  &:before
    content ''
    position absolute
    top 9px
    left -14px
    height 0
    width 0
    z-index 1
    border-top 8px solid transparent
    border-right 14px solid #707070
    border-bottom 8px solid transparent

.level
  position relative
  .rm
    top 50%

  &:hover
    .rm
      opacity 1


.row-div
  height 10px
  position relative
  .row-div-bar
    transition(all .1s ease)
    position absolute
    top 2.5px
    height 5px
    width 100%
    background rgba(200, 200, 200, .5)
    cursor pointer

  &:hover
    .row-div-bar
      top 0
      height 10px
      background rgba(230, 230, 230, .5)
    .add
      opacity 1

.new-row
  overflow auto
  padding 30px

.col-model
  height 40px
  width 120px
  background: rgba(255, 255, 255, .5)
  position relative
  float left
  margin 4px 24px 4px 4px
  cursor pointer

  &:hover
    border 4px solid rgba(255, 255, 255, .8)
    margin 0 20px 0 0


  &:before,
  &:after
    position absolute
    content ''
    height 40px

  &.colsize-4-4-4
    &:before,
    &:after
      width 40px
    &:before
      background rgba(200, 200, 200, .5)
    &:after
      right 0
      background rgba(100, 100, 100, .5)

  &.colsize-6-6
    &:before
      width 60px
      background rgba(200, 200, 200, .5)

  &.colsize-4-8
    &:before
      width 40px
      background rgba(200, 200, 200, .5)

  &.colsize-8-4
    &:before
      width 40px
      right 0
      background rgba(200, 200, 200, .5)

  &.colsize-12
    &:after
      width 120px
      background rgba(200, 200, 200, .5)





